.all{

    background: #000;

    display: flex; 

    
}



/*card */

.all > div {
    width: 50%; 
    background: #6599e8;
    border-radius: .5rem; 
    color: #dadbe5;
    box-shadow: 4px 4px 0px hsl(215, 10%, 51%)  ;
    width: 50%;
}
.all > div:hover{
    /* box-shadow: 8px 4px 0px hsl(216, 18%, 46%)  ; */
    background:#1269eb  ;
}