
/*
.color1 {color: #122b28;} azul-negro
.color2 {color: #12616f;} aul-verde
.color3 {color: #ec6071;} roza
.color4 {color: #f1c770;} amarillo
.color5 {color: #f8efb8;} amarillo claro
*/
.all{
    
    display: flex;
    flex-direction: column;
    background: rgba(232, 232, 232, 0.368);
    padding-bottom: 4rem;  
}




.conteiner_page{ 
    
    display: flex;
    justify-content: center;
    width: 100%; 
    padding-bottom: 4rem;  
    padding-top:2rem ;


}

 

.conteiner{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(2, .5fr) ;
    gap: 1rem;


}



 











.error{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:white;

    width: fit-content ;
    flex-direction: column;

   
}  

.error h3{
    padding: 2rem ;
}

.error form button{
    font-size: 2rem;
    padding: 1rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    cursor: pointer;
}

.error form button:hover{
    transition: .5s;
    color: aliceblue;
    background: #1d403c;
    border: aliceblue solid;
}