
/*
.color1 {color: #122b28;} azul-negro
.color2 {color: #12616f;} aul-verde
.color3 {color: #ec6071;} roza
.color4 {color: #f1c770;} amarillo
.color5 {color: #f8efb8;} amarillo claro
*/

.all{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: .2rem;
    

    text-decoration: none;
    height: 22rem;
    border-radius: .5rem; 


    color: #dadbe5;

    
    box-shadow: 4px 4px 0px hsl(215, 10%, 51%)  ;
    
    background: #6599e8;
}

.all:hover{
    /* box-shadow: 8px 4px 0px hsl(216, 18%, 46%)  ; */
    background:#1269eb  ;
}











.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 1.2rem;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.subcontent{
    height: 90%;



}



.imagen{
    display: flex;
    justify-content: center;
    align-items: center;

    background: aliceblue;
    border: 2px solid;
    height: 60%;
    display: flex;

}


.imagen img {
    width: 100%;
    max-height: 100%;
}


.temperamentos{
    height: 20%;

}


.peso{
    height: 20%;
    display: flex;
    flex-direction: column;
    
}
.peso h3{
    
}

.peso div  {
    width: 100%;
    display: flex;

    
}

.peso div p {
    width: 50%;
    text-align: center;
}