.all{
    height: 100vb;
    background-image: url('./dog.png');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}


.title{
    width: fit-content;
    height: fit-content;
    display: flex;
    font-size: 15rem;
    color: rgba(0, 0, 0, 0.834);

    border: 1px solid;

    margin-top: 15rem;
}

.subtitle{
    display: flex;
    font-size: 5rem;
    height: fit-content;
    border: 1px solid;




}