.all{
    background: red;
    display: flex;
    justify-content: center;
    padding-top:    1rem;
    padding-bottom: 1rem;
}



/*paginado de las cards*/
.paginado{
    display: flex;
    flex-direction: column;
}


.buttons{
    display: flex;
    width: 50%;

}
.buttons button{
    background:  #023047 ;
    border: none;
    color: aliceblue;
    cursor: pointer;
    padding: 1rem; 
    
}


.buttons button:hover{
    transition: .5s;
    background: aliceblue;
    color: #023047;
}

.conteiner_indice{ 
    display: flex ; 

}


.indice{
    background: yellow;  
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 2rem;
}




/*paginas del home*/
.paginas{
    display: flex;
    width: 50%;
    justify-content: end;

}
.paginas p{
    color: #023047;
    padding-right: 2rem;
    padding-left:  2rem;
    padding-top:   .5rem;
    padding-bottom:.5rem;
    font-size: 1.3rem;
    border-bottom: #023047 2px solid;

}
