
.all{
    display: flex;
    height: 6vb;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background:  #edc067;
    border-bottom: .2rem solid #023047; 
    filter: drop-shadow(10px 1px 10px grey) ;

}

.logout{
    margin-inline: .5rem;
    width: 5% ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: .5rem;
    background: #2364aa;
}


.logout:hover{
    background: #000;
}
.logout a{
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    font-family: fantasy;
    width: 100%;
}

.form{
    width: 40%;
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}

.form button {
    border-end-end-radius: .7rem;
    border-top-right-radius: .7rem;

    width: 7rem;
    background: #FB8500;
    cursor: pointer;

    border: none;

}


.form input{
    border: none;

    width: 21rem;
    border-bottom-left-radius: .7rem;
    border-top-left-radius: .7rem;

    font-size: 1.7rem;
    padding: .5rem;

    font-family: fantasy;


}


.temperaments{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}

.temperaments form{
    width: 100%;
    padding: .5rem;
}

.temperaments form select{
    padding: .5rem;
    width: 100%;
    color: #caf0f8;
    background: #023047;
    border-radius: .7rem;
    border: #2364aa .1rem solid;
    font-size: 1rem;
}


.menu {
    width: 25% ;
    display: flex;
    margin-left: 3%;
}






/*elimino decoracion a los links*/
.menu ul a {
    text-decoration: none;
}

.menu_ul{
    display: flex;
    list-style: none;
    width: 100%;
    text-align: center;
}


.menu_ul > li {
    border: 1px solid ;
    width: 50%; 
    
    background: #FB8500;
    cursor: pointer;
    
    border: none;

    text-decoration: none;
}


/*cada sublista se oculta y aparece al pasar el cursor*/

.menu_li{
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    font-size: 1.5rem;
}
.ultimo{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.menu_li > ul > li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    padding-bottom: .5rem;
 

} 

.filtros_li{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 1.5rem;
    
    border: 1px solid #FB8500 ;
     
} 
.menu_ul >li> ul {
    border-bottom-left-radius:  2rem ;
    border-bottom-right-radius: 2rem ;

}


.menu_ul >li ul{
    display: none;
    position: absolute;
    list-style: none;
    background: #FB8500;
}


.menu_ul li:hover > ul{
    display: block;
}

 
.menu_ul li ul {
  position:relative;
  color: white;
  min-width: 100%;
 
}

.menu_ul li ul li{
    border : 2px #FB8500;
    font-size: 1.2rem;
    padding-top: 1rem;

}

.menu_ul li ul li:hover {
    background: #023047;
}
.menu_ul li ul li ul li{
    background: #074665;
    padding-bottom: .5rem;
}

.menu_ul li ul li ul li:hover {
    
    background: #2364aa;
}