.all{
    display: flex;
    height: 10vb;
    background: #646262;
}
.form{
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
}
.form button{
    width: 5rem;
}
.link{
    font-size: 2rem;
    padding-left: 2rem ;
}