/*.color1 {color: #ffb56f;}
.color2 {color: #ffd75c;}
.color3 {color: #003f90;}
.color4 {color: #0084a8;}
.color5 {color: #00d0c4;}


.color1 {color: #201e06; negro }
.color2 {color: #2f5828;}
.color3 {color: #ff5d07; naranja}
.color4 {color: #ffe24f;}
.color5 {color: #fffbde;}

*/

.all{
    display: flex;
    flex-direction: column;
    background:#0048E8 ;
    height: 100vb;

    box-shadow:  0px 0px 1rem .03rem inset rgba(0, 0, 0, 0.551) ;
}

.conteiner_title { 
    height: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0; 
}

.conteiner_title > h1{
    font-size: 4.5rem;
    color: #fff;
    height: fit-content;
    margin: 0;
    margin-left: 5rem ;
    font-family: 'Tilt Warp', cursive;
    filter: drop-shadow(0px 10px 10px  black) ;

}

.body {
    display: flex;
    height: 70%; 
}

.getIn{
    width: 50%;
}




.sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.enunciado {
    height: 70%; 
    font-size: 3rem;
    padding-top: 10rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #D9D9D9;
    
}


.button{
    height: 30%;
    font-size: 2rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}





.imagen{
    width: 50%;
    display: flex;
    justify-content: center;
    

}
.imagen > img {
    border-radius: 2.5rem;
    width: 450px;
    height: 515px;
    box-shadow: 
    1rem 1rem 1rem black,
    1rem 1rem 3rem 1rem rgba(0, 0, 0, 0.635)
    ;
    

}