
.all{
  width: 100%;
  height: 100vh;
  /* Ubicación de la imagen */
  
  
  
    /* Para dejar la imagen de fondo centrada, vertical y

    horizontalmente */

    background-position: center center;

    /* Para que la imagen de fondo no se repita */
    
    background-repeat: no-repeat;
    
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    
    background-attachment: fixed;
    
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    
    background-size: cover;
    
    /* Se muestra un color de fondo mientras se está cargando la imagen
    
    de fondo o si hay problemas para cargarla */
    
    background-color: #669999;
    
}
/*cuando llega a 689 la foto se deforma*/
@media screen and (max-width: 380px){
    .all{
        background-image: url("../../assests/320x640.png");
        
    }
    
}
@media screen and (max-width: 480px){
    .all{
        background-image: url("../../assests/480x870.png");
    }
}
@media screen and (max-width: 768px) {
    .all{
        background-image: url("../../assests/768x870.png");
        
    }
}



@media screen and (min-width:768px)   {
    .all{
        background-image: url("../../assests/labrador.png");
    }
}



.firulais{
    position:absolute;
    top: 18%;
    right: 46.5%;

    color:white;
    font-size: 4rem;
    
}

.app_title{
    position:absolute;
    top: 21%;
    right: 39.5%;
    color:white;
    font-size: 4rem;
}
.container_button{
    position: absolute;
    bottom: 11%;
    display: flex;
    justify-content: center;
    width: 100%;
}


.all >  div >  a > button {


    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #FF9040;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  
.all >  div >  a >  button:hover {
    box-shadow: 5px 15px 20px ,
    -5px 15px 20px 
    ;
    color: #fff;
    transform: translateY(-5px);
  }
  

  .all >  div >  a >  button:active {
    transform: translateY(-1px);
  }












.conteiner_title { 
    height: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0; 
}

.conteiner_title > h1{
    filter: drop-shadow(1rem 1rem 1rem)s;
    font-size: 4.5rem;
    color: #fff;
    height: fit-content;
    margin: 0;
    margin-left: 5rem ;
    font-family: 'Tilt Warp', cursive;
    filter: drop-shadow(0px 10px 10px  black) ;


}

.body {
    display: flex;
    height: 70%; 
}

.getIn{
    width: 50%;
}




.sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.enunciado {
    height: 70%; 
    font-size: 3rem;
    padding-top: 10rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff; 
    
    
}


.button{
    height: 30%;
    font-size: 2rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button > a {
    text-decoration: none; 
}

.button > a > div{
    background-color: #4CAF50;
    
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 15rem;

    border-radius: 1rem;

    cursor: pointer;
   
    box-shadow: -1px 6px rgba(239, 232, 232, 0.755);    

    border: 1px solid  #15203996;

}




.button > a > div:hover{
    transition:.2s;
    background-color: #3e8e41

}

.button > a >div:active{
    transform: translateY(4px);

    box-shadow: 0px 2px rgba(239, 232, 232, 0.755 );    

}







.enunciado > h3
    {
        animation-duration: 1.5s;
        animation-name: desplazamientos;
    } 
    @keyframes desplazamientos{
        from{
            margin-top: -100%;
            margin-left: -20%;
            width: 100%;
        }

        to{
            margin-top: 0%;
            margin-left: 0%;

            width: 100%;

        }
    }





.imagen{
    width: 50%;
    display: flex;
    justify-content: center;
    

}
.imagen > img {
    border-radius: 2.5rem;
    border: .2rem solid  #429445;;
    width: 450px;
    height: 515px;
    box-shadow: 
    1rem 1rem 1rem black,
    1rem 1rem 3rem .5rem rgba(0, 0, 0, 0.635)
    ;
    

}